body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: block;
    text-align: center;
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 4em;
}

h2 {
    font-family: 'Arvo', serif;
}

#randWord {
    color:limegreen;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    #randWord {
        font-size: 3em;
    }
    #wordDef {
        font-size: 2.5em;
    }

}
